**Risk Analysis Chatbot**

In [2]:
# Import Libraries

import pandas as pd
import numpy as np

In [3]:
# Import Dataset

dataset = pd.read_csv(r'https://raw.githubusercontent.com/siiddd/Risk-Analysis-Chatbot/main/dataset.csv')

In [4]:
dataset.shape

(425, 11)

In [5]:
dataset.head(5)

   Unnamed: 0  ...                                        Description
0           0  ...  While removing the drill rod of the Jumbo 08 f...
1           1  ...  During the activation of a sodium sulphide pum...
2           2  ...  In the sub-station MILPO located at level +170...
3           3  ...  Being 9:45 am. approximately in the Nv. 1880 C...
4           4  ...  Approximately at 11:45 a.m. in circumstances t...

[5 rows x 11 columns]

Lets us remove the First Column which has the index.

We can 'Label Encode' the Columns: 

1. Countries 
2. Local 
3. Industry Sector 
4. Accident Level 
5. Potential Level 
6. Gender 
7. Employee or Third Party

In [6]:
dataset = dataset.iloc[:, 1:]
dataset

               Data  ...                                        Description
0     1/1/2016 0:00  ...  While removing the drill rod of the Jumbo 08 f...
1     1/2/2016 0:00  ...  During the activation of a sodium sulphide pum...
2     1/6/2016 0:00  ...  In the sub-station MILPO located at level +170...
3     1/8/2016 0:00  ...  Being 9:45 am. approximately in the Nv. 1880 C...
4    1/10/2016 0:00  ...  Approximately at 11:45 a.m. in circumstances t...
..              ...  ...                                                ...
420   7/4/2017 0:00  ...  Being approximately 5:00 a.m. approximately, w...
421   7/4/2017 0:00  ...  The collaborator moved from the infrastructure...
422   7/5/2017 0:00  ...  During the environmental monitoring activity i...
423   7/6/2017 0:00  ...  The Employee performed the activity of strippi...
424   7/9/2017 0:00  ...  At 10:00 a.m., when the assistant cleaned the ...

[425 rows x 10 columns]

In [10]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

dataset['Countries'] = label_encoder.fit_transform(dataset['Countries'])
dataset['Local'] = label_encoder.fit_transform(dataset['Local'])
dataset['Industry Sector'] = label_encoder.fit_transform(dataset['Industry Sector'])
dataset['Accident Level'] = label_encoder.fit_transform(dataset['Accident Level'])
dataset['Potential Accident Level'] = label_encoder.fit_transform(dataset['Potential Accident Level']) 
dataset['Genre'] = label_encoder.fit_transform(dataset['Genre'])
dataset['Employee or Third Party'] = label_encoder.fit_transform(dataset['Employee or Third Party'])
dataset

               Data  ...                                        Description
0     1/1/2016 0:00  ...  While removing the drill rod of the Jumbo 08 f...
1     1/2/2016 0:00  ...  During the activation of a sodium sulphide pum...
2     1/6/2016 0:00  ...  In the sub-station MILPO located at level +170...
3     1/8/2016 0:00  ...  Being 9:45 am. approximately in the Nv. 1880 C...
4    1/10/2016 0:00  ...  Approximately at 11:45 a.m. in circumstances t...
..              ...  ...                                                ...
420   7/4/2017 0:00  ...  Being approximately 5:00 a.m. approximately, w...
421   7/4/2017 0:00  ...  The collaborator moved from the infrastructure...
422   7/5/2017 0:00  ...  During the environmental monitoring activity i...
423   7/6/2017 0:00  ...  The Employee performed the activity of strippi...
424   7/9/2017 0:00  ...  At 10:00 a.m., when the assistant cleaned the ...

[425 rows x 10 columns]

In [11]:
dataset['Countries'].value_counts(sort = True)

0    251
1    130
2     44
Name: Countries, dtype: int64

In [13]:
dataset['Local'].value_counts()

2     90
4     59
0     57
3     56
5     46
9     44
7     27
1     24
6     14
11     4
8      2
10     2
Name: Local, dtype: int64

In [14]:
dataset['Industry Sector'].value_counts(sort = True)

1    241
0    134
2     50
Name: Industry Sector, dtype: int64

In [15]:
dataset['Accident Level'].value_counts(sort = True)

0    316
1     40
2     31
3     30
4      8
Name: Accident Level, dtype: int64

In [16]:
dataset['Potential Accident Level'].value_counts(sort = True)

3    143
2    106
1     95
0     49
4     31
5      1
Name: Potential Accident Level, dtype: int64

In [17]:
dataset['Genre'].value_counts(sort = True)

1    403
0     22
Name: Genre, dtype: int64

In [18]:
dataset['Employee or Third Party'].value_counts(sort = True)

1    189
0    179
2     57
Name: Employee or Third Party, dtype: int64